.container
  p
    | Made with 
    i.fa.fa-heart.red(title="If you have to hover over this symbol to understand it you need to go out and socialize a bit more")
    |  by Double.tf
    = ' | '
    a(href='https://doubletf.freshdesk.com/helpdesk/tickets') Support
    = ' | '
    a.open-tos(href='#', onClick="$('.tos-modal').show()") Terms of Service
    = ' | '
    a(href="https://www.twitter.com/therealdoubletf", title="Our Twitter", target="_blank")
       i.fa.fa-twitter-square
    = ' '
    a(href="https://www.instagram.com/double.tf", title="Our Instagram", target="_blank")
       i.fa.fa-instagram
    = ' '
    a(href="https://www.steamcommunity.com/groups/doubletf", title="Our Steam Group", target="_blank")
       i.fa.fa-steam-square
    = ' '
.tos-modal(hidden)
  .close-container
    h3 Terms Of Service
    a.modal-button.close(href='#', onClick="$('.tos-modal').hide()") Close
  .modal-container
    ol
      li
        strong Terms
    ul
      li
        | By accessing this web site, you are agreeing to be bound by these web site     Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
    ol(start='2')
      li
        strong Use License
    ul
      li
        p
          | Permission is granted to temporarily download one copy of the materials (information or software) on 
          a(href='http://Double.tf') Double.tf
          | 's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
        ul
          li modify or copy the materials;
          li
            | use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
          li
            | attempt to decompile or reverse engineer any software contained on 
            a(href='http://Double.tf') Double.tf
            | 's web site;
          li remove any copyright or other proprietary notations from the materials; or
          li
            | transfer the materials to another person or “mirror” the materials on any other server.
      li
        p
          | This license shall automatically terminate if you violate any of these restrictions and may be terminated by 
          a(href='http://Double.tf') Double.tf
          |  at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
    ol(start='3')
      li
        strong Disclaimer
    ul
      li
        | The materials on 
        a(href='http://Double.tf') Double.tf
        | 's web site are provided “as is”. 
        a(href='http://Double.tf') Double.tf
        |  makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, 
        a(href='http://Double.tf') Double.tf
        |  does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
    ol(start='4')
      li
        strong Limitations
    ul
      li
        | In no event shall 
        a(href='http://Double.tf') Double.tf
        |  or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on 
        a(href='http://Double.tf') Double.tf
        | 's Internet site, even if 
        a(href='http://Double.tf') Double.tf
        |  or a 
        a(href='http://Double.tf') Double.tf
        |  authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
    ol(start='5')
      li
        strong Revisions and Errata
    ul
      li
        | The materials appearing on 
        a(href='http://Double.tf') Double.tf
        | 's web site could include technical, typographical, or photographic errors. 
        a(href='http://Double.tf') Double.tf
        |  does not warrant that any of the materials on its web site are accurate, complete, or current. 
        a(href='http://Double.tf') Double.tf
        |  may make changes to the materials contained on its web site at any time without notice. 
        a(href='http://Double.tf') Double.tf
        |  does not, however, make any commitment to update the materials.
    ol(start='6')
      li
        strong Links
    ul
      li
        a(href='http://Double.tf') Double.tf
        |  has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by 
        a(href='http://Double.tf') Double.tf
        |  of the site. Use of any such linked web site is at the user’s own risk.
    ol(start='7')
      li
        strong Site Terms of Use Modifications
    ul
      li
        a(href='http://Double.tf') Double.tf
        |  may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
    ol(start='8')
      li
        strong Governing Law
    ul
      li
        a(href='http://Double.tf') Double.tf
        |  may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
    ol(start='9')
      li
        strong Item Ownership
    ul
      li
        | When a user decides to trade items to 
        a(href='http://Double.tf') Double.tf
        | , it is understood that they are now the sole property of 
        a(href='http://Double.tf') Double.tf
        | .
      li
        | A user retains a license to use their items on 
        a(href='http://Double.tf') Double.tf
        |  in exchange for the on-site currency of 
        a(href='http://Double.tf') Double.tf
        |  “keys”.
    ol(start='10')
      li
        strong Customer Limitations
    ul
      li
        p
          | As a user of 
          a(href='http://Double.tf') Double.tf
          | , you agree that you will not:
        ul
          li Circumvent the security of the website and its servers in any way.
          li
            | Try to disrupt our service (including, but not limited to exploiting bugs, bypassing limitations, or server scans/attacks).
          li
            | Allow an error in the bots (such as receiving an extra item) to occur without notifying the staff of 
            a(href='http://Double.tf') Double.tf
            | .
          li
            | Use any methods to gain advantage over users (including, but not limited to automation, scripts, user-scripts, auto-refreshers, external tools, bug-abusing, or other tampering).
          li Forge or modify evidence for a refund.
          li Exploit incorrect prices or low trade volume
      li
        p Punishment can include site user account bans or IP bans.
    ol(start='11')
      li
        strong Bot Issues
    ul
      li
        | Users should understand that bots are prone to malfunction. Should an error occur, please make a request to one of our Staff.
    ol(start='212')
      li
        strong Item Refunds
    ul
      li
        | Refunds will be provided in the following instance only:
        ul
          li A bot, database, or site error and not a mistake made by Steam or you.
    ol(start='13')
      li
        strong Site Cut
    ul
      li
        | When a jackpot ends, the site reserves a certain percentage amount of the items for itself as payment for the service. This percentage amount can vary from time to time, and the actual effective cut can be higher or lower due to extenuating circumstances such as unique jackpot conditions.
    ol(start='14')
      li
        strong Site Bans
    ul
      li
        a(href='http://Double.tf') Double.tf
        |  reserves the right to remove a user’s access to the website for any reason. 
        a(href='http://Double.tf') Double.tf
        |  is not obligated to provide the reason for denial of access to the user.
    ol(start='15')
      li
        strong Requesting Bans
    ul
      li
        | Should a user request a site-ban they will be immediately and irrevocably banned from the site. If you feel you have a gambling problem, please 
        a(href='http://www.ncpgambling.org/') consult the National Council on Problem Gambling
        | 's website.
    ol(start='16')
      li
        strong Ban Appeals
    ul
      li
        | In most cases, 
        a(href='http://Double.tf') Double.tf
        |  will allow a user to appeal his or her ban from the website. Ban appeals are not guaranteed and any user can be blocked from making a ban appeal without reason.
    ol(start='17')
      li
        strong Alternate Accounts
    ul
      li
        | It is expressly forbidden to use multiple accounts on this site. Owners of multiple accounts are determined based on IP addresses and other factors.
    ol(start='18')
      li
        strong Values Represented
    ul
      li
        | All values represented are either in in-game currency “key” items (“keys”) or as Steam Wallet funds. According to the Steam Subscriber Agreement, Steam Wallet funds have no cash value and cannot be exchanged for money.
    ol(start='19')
      li
        strong Extra Notes
    ul
      li
        | Staff members have control over a user’s access to the website and its services including but not limited to the user’s keys and/or the user’s items.
