.section-header Chat
.section-content
  .chat
  .chat-input
    input(type='text', placeholder='Press enter to send!')

.section-header Giveaway
.section-content.giveaway
  p
    b Corona Australis Giveaway
  img(src='https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZULUrsm1j-9xgECYhEQThLttgdAh9rpA_OzCfUTj8g06ZlG5jpqgwZ-erGzYzVhJlSQAPUIX6U5pVi8DSIw7J46UtOypr9WKA7rstbGZrgqM9pSX56H9US1ZsI/192fx192f')
  p Put
    b Double.tf
    |  in your name and login to be automatically entered into the giveaway!
